# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Logs
*.log

# Docker
*.pid

# MySQL / Database (VERY IMPORTANT)
data/
mysql/
*.db

# Node (agar use ho raha hai)
node_modules/

# OS files
.DS_Store
